<div id="navbar">
	<div class="pam">
		<div style="float:right"><%= link_to "View Website", root_path %></div>
		<%= link_to "Manage Advertisements", advertisements_path %>
		<%= link_to "Manage Illustrations", illustrations_path %>
		<%= link_to "Manage Process", steps_path %>
	</div>
</div>