<div class="image-split-5 bg1">
</div>
<div class="image-split-5 bg2">
  <h3>ADVERTISING</h3>
</div>
<div class="image-split-5 bg3">
  <h3>ILLUSTRATION</h3>
</div>
<div class="image-split-5 bg4">
  <h3>PROCESS</h3>
</div>
<div class="image-split-5 bg5">
  <h3>ABOUT ME</h3>
</div>
<div id="bgtruck-logo">
  <img src="/assets/logo2.png"/>
</div>
<div id="modalbox">
  <div id="image-box">
    <div class="pal">
      <div id="image">
        <img src=""/>
      </div>
      <div id="information">
        <div class="title">
        </div>
        <div class="description">
        </div>
        <div class="programs">
          Adobe Illustrator CSS6
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var illustrations = <%= raw @illustrations %>

  function getMeta(url) {
      var img = new Image();
      img.src = url;
      img.onload = function() {
          resize_image(this);
      }
  }

  function Dimensions(x, y) {
      this.x  = x;
      this.y = y;
  }

  function resize_image(img){
    var dimensions = resize_image_dimensions(img);
    jQuery("#image img").attr("src", img.src);
    jQuery("#image img").css({"width" : dimensions.x+"px", "height" : dimensions.y+"px"});
  }

  function resize_image_dimensions(image) {
    var ratio;
    var ratioMax;
    ratio = image.width / image.height;
    if(ratio > 1){
      jQuery("#image-box").removeClass("tall");
      jQuery("#image-box").addClass("wide");
    }
    else {
      jQuery("#image-box").removeClass("wide");
      jQuery("#image-box").addClass("tall");
    }
    var xMax = jQuery("#image").width();
    var yMax = jQuery("#image").height();
    ratioMax = xMax / yMax;
    //width is larger
    if (ratio > ratioMax){
      jQuery("#image img").css("marginLeft", 0);
      var newHeight = image.height * xMax / image.width;
      jQuery("#image img").css("marginTop", (yMax - newHeight)/2);
      return new Dimensions(xMax, newHeight);
    }
    else{
      jQuery("#image img").css("marginTop", 0);
      var newWidth = image.width * yMax / image.height;
      jQuery("#image img").css("marginLeft", (xMax - newWidth)/2);
      return new Dimensions(newWidth, yMax);
    }

  }

  var currentImage = 0;
  function nextImage(){
    if(currentImage == illustrations.length - 1){
      currentImage = 0;
    }
    else{
      currentImage++;
    }
    getMeta(illustrations[currentImage].image);
    jQuery("#information .title").html(illustrations[currentImage].title);
  }

  jQuery(document).ready(function(){

    jQuery(".image-split-5").each(function(){
      var rgb = jQuery(this).css("background-color").replace(/\s+/g, "");
      rgb = rgb.slice(5,rgb.length-1);
      var colors = rgb.split(",");
      jQuery(this).mouseleave(function(){
        jQuery(this).removeClass("shadow");
        jQuery(this).css("background-color", "rgba("+colors[0]+","+colors[1]+","+colors[2]+","+colors[3]+")");
      });
    });

    jQuery(".image-split-5").mouseenter(function(){
      if(!jQuery(this).hasClass("bg1")){
        jQuery(this).addClass("shadow");
        var rgb = jQuery(this).css("background-color").replace(/\s+/g, "");
        rgb = rgb.slice(5,rgb.length-1);
        var colors = rgb.split(",");
        jQuery(this).css("background-color", "rgba("+colors[0]+","+colors[1]+","+colors[2]+",.85)");
      }
    });
    jQuery(".image-split-5").click(function(){
      jQuery("#modalbox").show();
      getMeta(illustrations[currentImage].image);
      jQuery("#information .title").html(illustrations[currentImage].title);
      jQuery("#information .description").html(illustrations[currentImage].description);
    });

    jQuery("#image-box").click(function(e){
      e.stopPropagation();
      nextImage();
    });

    jQuery("#modalbox").click(function(){
      jQuery("#modalbox").hide();
    });
  });

</script>