html {
    height:100%;
    width:100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width:100%;
    height:100%;
    overflow: hidden;
    font-family: HelveticaNeueLTStd35Thin;
}

#content {
    margin-left:auto;
    margin-right:auto;
    margin-top:255px;
    text-align:center;
    font-size:1.8em;
    letter-spacing:.08em;
}

@font-face {
    font-family: 'HItalic';
    src: url('helveticaneueltstdltit.eot');
    src: url('helveticaneueltstdltit.eot?#iefix') format('embedded-opentype'),
    url('helveticaneueltstdltit.woff') format('woff'),
    url('helveticaneueltstdltit.ttf') format('truetype'),
    url('helveticaneueltstdltit.svg#HItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HBold';
    src: url('helveticaneueltstdbd.eot');
    src: url('helveticaneueltstdbd.eot?#iefix') format('embedded-opentype'),
    url('helveticaneueltstdbd.ttf') format('truetype'),
    url('helveticaneueltstdbd.svg#HBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStd35Thin';
    src: url('helveticaneueltstd-th.eot');
    src: url('helveticaneueltstd-th.eot') format('embedded-opentype'),
         url('helveticaneueltstd-th.woff') format('woff'),
         url('helveticaneueltstd-th.ttf') format('truetype'),
         url('helveticaneueltstd-th.svg#HelveticaNeueLTStd35Thin') format('svg');
}

#bgtruck{
    position: absolute;
    top: 15%;
    width: 100%;
}

.hbold {
    font-family:HBold, Helvetica, sans-serif;
    color:#FFF;
}

.hitalic {
    font-family:HItalic, Helvetica, sans-serif;
    color:#FFF;
}
a:link {
    color: #FFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    text-decoration: none;
    color: #FFF;
}
a:active {
    text-decoration: none;
    color: #FFF;
}
#portfolio {
    text-shadow: 3px 3px 3px #ccc;
}





.image-split-5 {
    position: absolute;
    width:20%;
    height:100%;
    float:left;
    z-index: 0;
}

.image-split-5 h3{
    font-family: "HBold";
    margin-top: 20%;
    text-align: center;
    color: #fff;
    font-size: 100%;
}

.bg2 {
    cursor: pointer;
    left: 20%;
    background-color: rgba(13,14,21,.2);
}

.bg3 {
    cursor: pointer;
    left: 40%;
    background-color: rgba(13,14,21,.35);
}

.bg4 {
    cursor: pointer;
    left: 60%;
    background-color: rgba(13,14,21,.6);
}

.bg5 {
    cursor: pointer;
    left: 80%;
    background-color: rgba(13,14,21,.8);
}

#bgtruck-logo {
    position: absolute;
    top:0px;
    left:0px;
    height:18%;
    width:18%;
    margin-top:1%;
    margin-left:1%;
}

#bgtruck-logo img {
    width:100%;
}

.image-split-5.shadow{
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 10px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 10px rgba(0, 0, 0, 1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#000000');
}

#modalbox {
    position:absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
}

#modalbox #image-box {
    position:fixed;
    top: 50%;
    left: 50%;
    width:60em;
    height:36em;
    margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -30em; /*set to a negative number 1/2 of your width*/
    background-color: #fff;
    border: solid 5px #B5AE9C;
}

#modalbox2 {
    position:absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
}

#modalbox2 #image-box {
    position:fixed;
    top: 50%;
    left: 50%;
    width:60em;
    height:36em;
    margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -30em; /*set to a negative number 1/2 of your width*/
    background-color: #fff;
    border: solid 5px #B5AE9C;
    font-family: HBold;
}

#modalbox2 #image-box a {
    color: #000;
    text-decoration: underline;
}

#modalbox #image-box .button {
    color: #fff;
    position:absolute;
    top: 240px;
    height: 60px;
    width: 60px;
    background-color: #C9C4B7;
    border: solid 2px #A8A292;
    text-align: center;
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
}

#modalbox #image-box #back {
    left: -50px;
}

#modalbox #image-box #next {
    right: -50px;
}

#modalbox #image-box.tall {
    width: 50em;
    margin-left: -25em; /*set to a negative number 1/2 of your height*/
}

#modalbox #image-box #image {
    float:left;
    height: 536px;
    width: 50%;
}

#modalbox #image-box .number {
    position: absolute;
    top:5px;
    right:5px;
    text-align: right;
}

#modalbox #image-box.tall #image {
    height: 536px;
    width: 50%;
}

#modalbox #image-box.wide #image {
    height: 520px;
    width: 100%;
}

#modalbox #image-box #information {
    color: #000;
    float: left;
    font-size: 20px;
    position:relative;
}

#modalbox #image-box.wide #information {
    width: 100%;
}

#modalbox #image-box.tall #information {
    width: 50%;
    height:535px;
}

#modalbox #image-box.wide #information .title {
    float:left;
    width: 33.3%;
    text-align: left;
    line-height: 18px;
    font-size: 24px;
}

#modalbox #image-box.wide #information .description {
    float:left;
    width: 33.3%;
    text-align: center;
    font-size: 18px;
}

#modalbox #image-box.wide #information .programs {
    float:right;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
}

#modalbox #image-box.tall #information .title {
    font-size: 24px;
}

#modalbox #image-box.tall #information .description {
    position:absolute;
    top: 40%;
    width:100%;
    height: 200px;
    text-align: center;
    font-size: 18px;
}

#modalbox #image-box.tall #information .programs {
    position:absolute;
    bottom: 10px;
    font-size: 12px;
}

.pam {
    padding: 10px;
}

.pal {
    padding: 20px;
}